

.App {
  text-align: center;
  font-family: 'Old Standard TT', serif;
  font-size: 20px;
}

.name {
  font-size: 30px;
}


.lead {
   font-family: 'Old Standard TT', serif;
   font-style: italic;
   color: black;
   font-weight: normal;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slogan {
  font-style: italic;
  color: white;
}

a {
  color: black;
}

.slogancont {
  background-color: black;
  padding-top: 30px;
  padding-bottom: 10px;
}

.portheading {
  padding-top: 50px;
  margin-top: 90px;
  color: black;
  font-size: 40px;
  font-style: italic;
}

h3 {
  font-size: 20px;
}